html{
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}
.active{
    background-color: blanchedalmond;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid gray;
}
nav h1 a{
    color: gray;
    font-size: 30px;
    text-decoration: none;
}
.onglets{
    margin-top: 3px;
    margin-left: 300px;
}
/*position of the dropdown*/
.dropdown{
    display: inline-block;
}
/*dropdown content*/
.dropdown-content{
    display: none; 
    position: absolute;
}
/*links inside the dropdown*/
.dropdown-content a{
    padding: 12px 16px;
    background-color: white;
    text-decoration: none;
    display: block;
}
/*changes the shadow of the links on hover*/
.dropdown-content a:hover{
    text-shadow: 2px 2px 4px plum;
    background-color: blanchedalmond;
}
/*shows the dropdown menu on hover*/
.dropdown:hover .dropdown-content{
    display: block;
}
nav .onglets a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
nav .onglets a:hover{
    text-shadow: 2px 2px 4px plum;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: blanchedalmond;
    padding: 40px;
}
header h1{
    font-size: 50px;
}
header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid blanchedalmond;
}
.contenu{
    flex: 1 0 auto;
}
.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.main .content .card .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: blanchedalmond;
}
.main .content .card .right{
    flex: 0 0 70%;
}
.main .content .card .right img{
    height: 300px;
    width: 400px;
    margin-top: 5px;
}
#index h1{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
#index p{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
      font-style: oblique;
}
#about{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150 auto;
}
#about .about-content{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#about .about-content .left{
    flex: 0 0 70%;
}
#about .about-content .left img{
    height: 300px;
    width: 400px;
    margin: 0 5px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px black;
}
#about .about-content .right{
    margin-left: auto;
    padding: 0px;
    background-color: black;
    border-radius: 20px;
    color: blanchedalmond;
    margin-left: 20px;
}
.slidershow{
    width: 800px;
    overflow: hidden;
    margin: 150px auto;
}
.slides{
    width: calc(800px * 5);
    animation: glisse 10s infinite;
}
.slide{
    float: left;
}

@keyframes glisse{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-800px);
    }
    30%{
        transform: translateX(-800px);
    }
    40%{
        transform: translateX(-1600px);
    }
    50%{
        transform: translateX(-1600px);
    }
    60%{
        transform: translateX(-2400px);
    }
    70%{
        transform: translateX(-2400px);
    }
    80%{
        transform: translateX(-3200px);
    }
    90%{
        transform: translateX(-3200px);
    }
    100%{
        transform: translateX(0);
    }
}
#about{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    margin-top: 100px;
    border-top: 5px solid gray;
    background-color: black;
    color: blanchedalmond;
    padding: 30px 100px;
}
footer p{
    color: grey;
}
.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}
.bloc{
    width: 25%;
    margin: 0 30px;
}
.footer-contact h3,
.footer-services h3,
.footer-horaire h3,
.footer-medias h3{
    font-size: 25px;
    padding-bottom: 20px;
    color: white;
}
.footer-contact p{
    padding: 5px 0;
}
.service-list,
.horaire-list,
.media-list{
    list-style-type: none;
}
.service-list li{
    padding: 2px 0;
}
.service-list a{
    text-decoration: none;
    color: blanchedalmond;
}
.service-list a:hover{
    color: grey;
}
.media-list{
    position: relative;
    right: 10px;
}
.media-list img{
    width: 40px;
    margin: 10px 10px;
}
.media-list a{
    text-decoration: none;
    color: blanchedalmond;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.contact
.titre{
    text-align: center;
    text-decoration: underline black;
}
.adress-list ul{
    display: inline-block;
    text-align : center;
}
.adress-list ul li{
    display: block;
}
.info{
    text-align: justify;
    margin: 150px auto;
    background-color: black;
    width: 300px;
    padding: 20px;
    border-radius: 5px 5px;
    color: blanchedalmond;
    font-weight: bold;
}

button{
    width: 100px;
    text-align: center;
}
button:hover{
    background-color: gray;
    font-size: 14px;
}